

var strToArrayBySign = function(arr,sign) {
  if(arr) {
    return arr.split(sign).slice(0,5)
  }
  return ''
}

/**
 * @description 将整数保留两位小数，若为整数或一位小数则补零
 * @param x 
 */
var keepTwoDecimals = function(x) {
  var f = Math.round(x * 100) / 100;
  var s = f.toString();
  var rs = s.indexOf('.');
  if (rs < 0) {
  rs = s.length;
  s += '.';
  }
  while (s.length <= rs + 2) {
  s += '0';
  }
  return s;
}

module.exports = {
  strToArrayBySign:strToArrayBySign,
  keepTwoDecimals:keepTwoDecimals
}